/* Caroussel */

.caroussel {
    overflow: hidden;

    --prev: translate3d(-70%, -10%, 0);
    --active: translate3d(-50%, 30%, 0);
    --next: translate3d(-70%, 150%, 0);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
}

/* Caroussel items */

.caroussel-item {
    top: -10%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    width: 80%;
    height: 70%;
    position: inherit;
    gap: 1em;
    transform: scale(0.7);
    z-index: 0;

    transition: all 500ms;
    opacity: 0;

    border-radius: 2em;
    background-color: hsla(var(--blue-caroussel), 1);

    box-shadow: 2em 2em 1em hsla(var(--blue-dark), 0.5);
}

/*
    active
    prev
    next
*/
.caroussel-item.active {
    opacity: 1;
    z-index: 1;
    transform: scale(1)
                var(--active);
}

.caroussel-item.prev {
    opacity: 0.7;
    transform: scale(0.7)
            var(--prev);
}

.caroussel-item.next {
    opacity: 0.7;
    transform: scale(0.7)
            var(--next);
}


/*
    Img container
*/
.caroussel-item > .ci-img-container {
    border-radius: 2em;
    display: flex;
    justify-content: center;
}

.caroussel-item > .ci-img-container > img {
    border-radius: inherit;

    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/*
    Text container
*/
.caroussel-item > .ci-text-container {
    height: 100%;
    border-radius: 20px;
    width: 100%;
    padding: 0.5em;
    font-size: var(--normal-phone);

    overflow: scroll;
}

.caroussel-item > .ci-text-container > * {
    white-space: pre-wrap;
    transition: all 500ms;
}

.caroussel-item.active > .ci-text-container > h2 {
    color: hsla(var(--red), 0.8)
}

/* Icon container */

.ci-icon > i {
    color: hsla(var(--red), 0.8);
    cursor: pointer;
    transition: all 500ms;
}

.ci-icon > i:hover {
    transform: scale(1.2);
}


/* Arrow */

.arrow {
    display: flex;
    justify-content: center;
    position: absolute;

    width: 100%;
    height: 50%;
    z-index: 1;
}

.arrow.container-top {
    /* background-color: hsla(100, 50%, 50%, 1); */
    top: 0;
}

.arrow.container-bottom {
    /* background-color: hsla(0, 50%, 50%, 1); */
    bottom: 0;
}

.arrow.container-top .a-prev {
    position: absolute;
    top: 10%;
    transform: rotate(90deg);
}

.arrow.container-bottom .a-next {
    position: absolute;
    bottom: 20%;
    transform: rotate(-90deg);
}

@media (min-width: 768px) {
    .caroussel {
        --prev: translate3d(-40%, -80%, 0);
        --active: translate3d(12%, -60%, 0);
        --next: translate3d(50%, -80%, 0);
    }

    .caroussel-item.next {
        transform-origin: right center;
    }

    .caroussel-item {
        padding: 0.5em;
        flex-direction: row;
        height: 70%;
        left: 0;
        top: 50%;
    }

    .caroussel-item > .ci-img-container {
        height: 90%;
        width: 50%;
    }

    .caroussel-item > .ci-text-container {
        display: flex;
        flex-direction: column;
    
        gap: 1em;
        padding: 1em;
        text-align: center;
        height: 80%;
        max-width: 50%;
        font-size: var(--normal);

    }


    /*
        Arrow
    */
    .arrow {
        justify-content: start;
        width: 50%;
        height: 100%;
    }

    .arrow.container-top {
        left: 0;
    }
    
    .arrow.container-bottom {
        right: 0;
    }

    .arrow.container-top .a-prev {
        left: 10%;
        top: 50%;
        transform: rotate(0);
    }
    
    .arrow.container-bottom .a-next {
        right: 10%;
        transform: rotate(180deg);
        bottom: 50%;
    }
}