* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;

  --title: 27px;
  --menu: 22px;
  --normal: 18px;

  --title-phone: 22px;
  --menu-phone: 18px;

  --padding-button: 0.75em;

  --dark: hsla(315, 14%, 5%, 0.4);
}

:root {
  --menu-height: 1em;
}

body {
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container {
  position: relative;
  height: 85%;
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

