.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    width: 100%;
    height: 100%;
}

.about-me > p {
    width: 90%;
    display: inline-block;
}


.boy-img {
    position: absolute;
    right: 1em;
    bottom: 15%;
    z-index: -1;
    max-height: 50%;
    max-width: 100%;
}



/*
  Icons
*/

.icons {
    display: flex;
    gap: 1em;
}

.icons >* {
    transition: all 500ms;
}

.icon {
    color: hsla(var(--red), 0.6);
    cursor: pointer;
    text-decoration: none;
}

.icon:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .about-me {
        width: 50%;
    }

    .icons {
        gap: 2em;
    }

    .icon {
        transform: scale(1.4);
    }

    .icon:hover {
        transform: scale(1.6);
    }
}