.content {
    z-index: 1;
    --margin-content: calc(var(--menu-height) + var(--menu-height) + var(--padding-button) + var(--padding-button) + 2em);

    margin-top: var(--margin-content);
    height: calc(100vh - var(--margin-content));

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
}

.section-content > h1 {
    position: absolute;
    top: 0;
    margin-top: 0.5em;
    text-align: center;
    width: 100%;
}

.section-content > * {
    opacity: 0;
    transform: translate3d(0, 4rem, 0);
    transition: opacity 800ms var(--delay),
        transform 800ms cubic-bezier(0.13, 0.07, 0.26, 0.99) var(--delay);
}

.is-visible .section-content  > * {
    opacity: 1;
    transform: translate3d(0, 1rem, 0);
}

/* .content section:nth-child(1) {
    background-color: hsla(var(--website-color), 0.4);
}


.content section:nth-child(2) {
    background-color: hsl(200, 100%, 70%, 0.4);
}


.content section:nth-child(3) {
    background-color: hsl(100, 100%, 70%, 0.4);
}

.content section:nth-child(3) {
    background-color: hsl(250, 100%, 70%, 0.4);
} */

@media (min-width: 768px) {
    .section-content {
        align-items: flex-start;
    }

    .section-content > h1 {
        position: relative;
        margin-top: 1em;
        font-size: var(--title);
        font-weight: var(--black);
    }
}