.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 4em);
  background-color: hsla(var(--blue-light), 1);

  margin-left: 2em;
  margin-right: 2em;
  padding: var(--menu-height) 0;

  border-radius: 2em;
  box-shadow: 0.5em 0.5em 1em hsla(var(--dark), 0.4);
}

.menu a {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

  font-weight: var(--bold);
  font-size: var(--menu);

  padding: 0.7em;
  border-radius: 20px;
}

.menu a:hover {
 transform: scale(1.2);
 border-radius: 10px;
}

.menu-content > * {
  transition: all 500ms;
}

.menu-content {
  width: 100%;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  margin-right: min(4em, 3vw);
}

.menu > .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

  padding: 0.5em;
  font-size: var(--title);
  margin-left: min(4em, 3vw);
}

.menu-content .menu-open {
  color: hsla(var(--red), 0.6);
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .menu {
    justify-content: center;
    display: none;
  }

  .menu-content {
    display: none;
    width: 0;
  }
}