.name {
    --padding: 0.1em;
    --pading-after: 2em;
    --size: calc(100% / 6);
    --size-after: calc(100% / 3);
    --pos: calc(100% / 6);

    --padding-after-mobile: 0.1em;
    --pos-mobile: calc(100% / 6 - var(--padding-after-mobile));

    height: 100%;
    width: calc(100% - var(--padding) - var(--padding));


    color: white;
    background-color: hsla(152, 78%, 34%, 1);
    padding: 0em var(--padding);

    position: relative;
}

.name > div:not(.container-hover) {
    width: calc(var(--size));

    height: 90%;
    position: absolute;

    transition: all 300ms;
    bottom: 1em;

    display: grid;
    justify-content: center;
    align-content: center;

    pointer-events: none;
}

.name .content {
    font-size: xx-large;
}

.outside {
    transform: translateY(-150%);
}

.name svg {
    transition: all 300ms;
}

.name .container-hover {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.4);

    height: 35vh;
    width: 100%;

    top: 50%;
    transform: translateY(-50%);

    pointer-events: auto;
}

.T {}

.H {
    left: calc(var(--pos));
}

.O {
    left: calc(var(--pos) * 2);
}

.M {
    left: calc(var(--pos) * 3);
}

.A {
    left: calc(var(--pos) * 4);
}

.S {
    left: calc(var(--pos) * 5);
}

.A.after {
    left: calc(100% - var(--pading-after) - var(--size-after));
}

.M.after {
    left: calc(50% - var(--size-after) / 2);
}

.O.after {
    left: var(--pading-after);
}

.A .content,
.O .content,
.M .content {
    display: none;
}

.A.after:hover svg,
.O.after:hover svg,
.M.after:hover svg {
    height: 80%;
    width: 80%;
}

.A.after:hover,
.O.after:hover,
.M.after:hover {
    background-color: hsla(115, 50%, 35%, 1);

    border-radius: 100vh;
    height: 50vh;
    bottom: 25%;
}

.A.after:hover .content,
.O.after:hover .content,
.M.after:hover .content {
    display: block;
}

.A {
    gap: 3em;
}

.name:has(.A.after:hover) .O {
    transform: translateX(-30%);
}

.name:has(.A.after:hover) .M {
    transform: translateX(-10%);

}

.name:has(.M.after:hover) .A {
    transform: translateX(20%);
}

.name:has(.M.after:hover) .O {
    transform: translateX(-20%);
}


.name:has(.O.after:hover) .M {
    transform: translateX(10%);

}

.name:has(.O.after:hover) .A {
    transform: translateX(30%);

}


@media screen and (max-width:750px) {
    .H {
        left: calc(var(--pos-mobile));
    }

    .O {
        left: calc(var(--pos-mobile) * 2);
    }

    .M {
        left: calc(var(--pos-mobile) * 3);
    }

    .A {
        left: calc(var(--pos-mobile) * 4);
    }

    .S {
        left: calc(var(--pos-mobile) * 5);
    }

    .O.after {
        left: var(--padding-after-mobile)
    }

    .M.after {
        left: calc(50% - var(--size-after) / 2)
    }

    .A.after {
        left: calc(100% - var(--padding-after-mobile) - var(--size-after));
    }
}